/*
 * === VARIABLES ===
*/

:root {
  /* Colors */

  --black:                 #000;
  --gray-darker:           #0a0a0a;
  --gray-dark:             #3a3a3a;
  --gray:                  #666;
  --gray-light:            #999;
  --gray-lighter:          #ccc;
  --white:                 #fff;

  --demo-green:            #3d9970;
  --demo-red:              #f94144;
  --demo-blue:             #7fdbff;

  /* Typography */

  --font-family-san-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Spacing */

  --spacing-4:              4px;
  --spacing-8:              8px;
  --spacing-16:             16px;
  --spacing-24:             24px;
  --spacing-32:             32px;
  --spacing-40:             40px;
  --spacing-48:             48px;
  --spacing-56:             56px;
  --spacing-64:             64px;
  --spacing-72:             72px;
  --spacing-80:             80px;
}

/*
 * === RESET ===
*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * === PAGE ===
*/

body {
  background: var(--white);
  color: var(--gray-darker);
  font-family: var(--font-family-san-serif);
  font-size: 20px;
  line-height: 1.5;
  padding: var(--spacing-48);
  text-align: center;
}

.page-title {
  font-size: 57px;
  letter-spacing: -.025em;
  margin-bottom: var(--spacing-8);
}

.section-title {
  color: var(--gray-dark);
  font-size: 32px;
  font-weight: normal;
  margin-bottom: var(--spacing-24);
}

.divider {
  border: 1px solid var(--gray-lighter);
  margin: var(--spacing-64) 0;
}

/*
 * === CAROUSEL ===
*/

.c-carousel-container {
  background: var(--demo-green);
  color: var(--white);
  height: 400px;
  margin: 0 auto;
  width: 960px;
}

.c-carousel-container .c-carousel-item {
  align-items: center;
  display: flex;
  font-size: 64px;
  font-weight: bold;
  justify-content: center;
}

.c-carousel-container .c-carousel-item:nth-child(odd) {
  background: var(--demo-red);
}

.c-carousel-container .c-carousel-item:nth-child(even) {
  background: var(--demo-blue);
}
